<section>
  <h1>Inscription</h1>
  <form class="container" method="post" action="">
    <div class="mb-3">
      <label for="pseudo" class="form-label">Pseudo</label>
      <input type="text" class="form-control" id="pseudo" name="pseudo" required placeholder="Votre Pseudo">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" required placeholder="Votre Email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="password" name="password" required placeholder="Votre Mot de Passe">
    </div>
    <button type="submit" class="btn btn-primary" name="inscription">Je crée mon compte</button>
  </form>
</section>
